bottle==0.12.19
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
conan==1.33.1
Cython==0.29.21
deprecation==2.0.7
distro==1.5.0
fasteners==0.16
future==0.18.2
idna==2.10
Jinja2==2.11.3
MarkupSafe==1.1.1
node-semver==0.6.1
numpy==1.19.5
packaging==20.9
patch-ng==1.17.4
pkg-resources==0.0.0
pluginbase==1.0.0
pybind11==2.6.2
Pygments==2.7.4
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
scikit-build==0.11.1
six==1.15.0
tqdm==4.56.2
urllib3==1.25.11
